<!--san pham-->
<h1 class="text-center p-5">COFFEE BEANS</h1>
<div class="container-fluid">

  <!--render san pham-->
  <% products.forEach(product => { %>
    <li>
      <h2><%= product.name %></h2>
      <p>image: <%= product.image %></p>
      <p>Category: <%= product.category %></p>
      <p>Name: <%= product.name %></p>
      <p>Price: <%= product.priceCent %> USD</p>
      <p>Description: <%= product.de %></p>
    </li>
  <% }); %>
</div>

<script type="module" src="/public/js/index.js"></script>